.card .card-text{
    font-size: 13px;
    font-weight: 500;
}
.card .btn{
    font-size: 13px;
}
.card .card-title{
    font-size: 15px;
}
/* .card .card-img-top{
    border-bottom: 3px solid var(--bs-primary);
} */
.heading p{
    font-size: 14px;
}